html body {
  background-color: #00000066;
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

header {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
}

#page-title {
  font-size: 40px;
  font-weight: bold;
  padding: 10px 0 20px;
}

#linha-data {
  padding: 8px 0;
}

#media-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.media {
  max-width: 80%;
  max-height: 80%;
}

#media-container:hover {
  cursor: initial;
}

.media:hover {
  cursor: pointer;
}