html body {
  background-color: #000000a6;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-shadow: inset 40px 30px 40px #2f2f2f, inset -40px -30px 40px #2f2f2f;
}

header {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 20px;
}

#page-title {
  font-size: 40px;
  font-weight: bolder;
  padding: 20px;
  color: #270096f2;
  text-shadow: 2px 2px 2px #000000;
}

main {
  text-align: center;
}

#media-title {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

#media-data {
  padding-bottom: 10px;
  text-align: center;

}

#media-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.media {
  max-width: 40%;
  max-height: 40%;
  margin-bottom: 40px;
  border-radius: 60px;
  box-shadow: #000000af 10px 10px 8px;
}

iframe {
  width: 60em;
  height: 25em;
}

#linha-expl {
  width: 400px;
  right: 50%;
  left: 50%;
  margin: 0 auto;
}

#copyright {
  padding-top: 30px;
  font-weight: bold;
  font-style: italic;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 5cm;
}

#date-selection {
  width: 50%
}

#date-input-label {
  font-weight: bold;
  padding-bottom: 10px;
}

#error-message {
  margin: 10px 0;
  color: rgba(150, 0, 0, 0.671);
  text-shadow: #101a1a 1px 1.1px;
  font-weight: bold;
}

#date-input {
  width: 145px;
  margin-bottom: 6px;
  border-radius: 8px;
  text-align: right;
  border: transparent;
}

#date-submit {
  margin-top: 0.35%;
  border-radius: 8px;
  width: 120px;
}

#media-container:hover {
  cursor: initial;
}

.media:hover {
  cursor: pointer;
}

#date-submit:active {
  background-color: #cfcfcf;
}